.bg {
    width: 100%;
    height: 1000px;
    background: url('../images/123.jpg');
}

.triplan{
    padding-top: 50px;
    text-align: center;
    
}
.white {
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 20px;
    background: white;
    width: 200px;
    height: 300px;
    
}
.navy{
    padding: 30px;
    box-sizing: border-box;
    background: #2e63d8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    height: 160px;
    color: #fff;
}
.itembox{
    text-align: left;
}
    
.item{
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    margin-top: 10px;
    
        
}
.btn{
    border: 2px solid white;
    border-radius: 4px;
    
}    
.txt {
    padding-top: 10px;
    font-size: 60px;
}
.txt span {
    padding-right: 5px;
    font-size:25px;
    vertical-align: super;
}
.txt a {
    padding-right: 5px;
    font-size:25px;
    vertical-align: bottom;


